@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dots {
    0%, 20% { content: '.'; }
    40% { content: '..'; }
    60%, 100% { content: '...'; }
}

.loading-dots::after {
    content: '.';
    animation: dots 1.3s steps(1, end) infinite;
}